body{
    font-family: Consolas, monaco, monospace, Arial, sans-serif;
    margin: 0;
    background-color: black;
}

.top-bar {
    background-color: #181818;
    display: flex;
    gap: 1em;
    height: 6vh;
    border-bottom: 3px solid #1f1f1f;
    color: white;
    font-size: 12px;
}
.top-bar div{
    display: flex;
    align-items: center;
    padding-left: 5px;
}


.main-grid-container {
    display: flex;
    height: 120vh;
    margin-bottom: 0;
    background-color: #1f1f1f;
}

.side-items{
    width: 100em;
    max-width: 200px;
    display: flex;
    column-gap: 0;
}

.left-file-bar{
    background-color: #181818;
    color: #e2c08d;
    font-size: 13px;
    /* min-width: 120px; */
    flex: 1;
}
.left-file-bar ul{
    list-style-position: inside;
    padding-left: 3px;
}
.left-file-bar ul li{
    padding-top: 0.8rem;
}


.side-nav-bar {
    border-right: 3px solid #1f1f1f;
    background-color: #181818;
    display:flex;
    flex-direction:column;
    gap: 2rem;
    flex: 1;
    max-width: 50px;
}
.side-nav-bar div{
    text-align: center;
}
.spacer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.spacer .bottom{
    height: 5%;
    position: absolute;
    bottom: 80px;
}
.spacer .way-bottom{
    height: 5%;
    position: absolute;
    bottom: 20px;
}


img {
    width: 60%;
    height: auto;
}

.logo{
    height: 70%;
    width: auto;
}


.main-editor {
    color: white;
    overflow-y: auto;
}

footer{
    display: flex;
    gap: 1rem;
    margin-top: 0;
    border-top: 3px solid #1f1f1f;
    background-color: #181818;
    color: #cccccc;
    font-size: smaller;
    height: 5vh;
}

footer div {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
}
