body{
    font-family: Consolas, monaco, monospace, Arial, sans-serif;
    margin: 0;
    background-color: #181818;
}

.top-bar {
    background-color: #1f1f1f;
    display: flex;
    gap: 1rem;
    height: 5vh;
    max-height: 50px;
    border-bottom: 3px solid #333333;
    color: white;
    font-size: 12px;
}
.top-bar section{
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    width: 15vw;
}
.top-bar .rounded-corners{
    background-color: #333333;
    border-radius: 8px;
    border: 2px solid #4b4b4b;
    padding: 0.5rem 10%;
    margin: 4px 0;
    color: #9d9d9d;
    display: flex;
    gap: 1em;
    min-width: 8rem;
}
.top-bar .search-icon{
    width: auto;
    height: 1rem;
}


.main-grid-container {
    display: flex;
    height: 90vh;
    min-height: 420px;
    margin-bottom: 0;
    background-color: #1f1f1f;
}


.side-nav-bar {
    border-right: 3px solid #333333;
    background-color: #181818;
    display:flex;
    flex-direction:column;
    gap: 2rem;
    flex: 1;
    max-width: 50px;
    min-width: 3em;
    padding-top:15px;
}
.side-nav-bar li{
    list-style-type: none;
    text-align: center;
}
.spacer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.spacer .bottom{
    height: 5%;
    position: absolute;
    bottom: 80px;
}
.spacer .way-bottom{
    height: 5%;
    position: absolute;
    bottom: 20px;
}


img {
    width: 60%;
    height: auto;
}

.logo{
    height: 70%;
    width: auto;
}


.main-editor {
    color: white;
    overflow-y: auto;
}
.tab-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: #181818;
    list-style-position: inside;
    margin-top: 0;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.tab-bar li{
    border-right: #333333 solid 0.2rem;
    border-bottom: #333333 solid 0.1rem;
    width: 150px;
    padding: 1rem 0 1rem 7px;
}
.tab-bar .empty-item{
    color: #181818;
    border-right: none;
    padding: 1rem 0 1rem 7px;
    flex: 1;
}
.tab-bar .selected-tab{
    background-color: #1f1f1f;
    border-bottom: #1f1f1f solid 0.1rem;
}
.tab-bar li:nth-child(1){
    list-style-image: url('img/info.png');
}
.tab-bar li:nth-child(2){
    list-style-image: url('img/html.png');
}
.tab-bar li:nth-child(3){
    list-style-image: url('img/css.png');
}
.tab-bar a{
    color: white;
    text-decoration: none;
}

.tab-bar :hover{
    background-color: #1f1f1f;
}
.main-text{
    padding-right: 10vw;
}
#spacer{
    width: 87vw;
}



footer{
    display: flex;
    gap: 5%;
    margin-top: 0;
    border-top: 3px solid #333333;
    background-color: #181818;
    color: #cccccc;
    font-size: smaller;
    height: 4vh;
    align-items: center;

}

footer li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
    text-overflow: clip;
}

footer .icon{
    padding: 1.3vh 0.8em;
    background-color: #1f88d9;
    color: white;
    
}

.bluecolor{
    color: #286bcc;
}
.lightbluecolor{
    color: #8cdcfe;
}
.orangecolor{
    color: #ce9178;
}
